<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Not Found</title>
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
</head>
<body>
    <h2>City Not Found</h2>
     <h2>Try Again</h2>
    
    <form action="/weather" method="post">
        <label for="city">City:</label><br>
        <input type="text" id="city" name="city" placeholder="enter a city"><br><br>
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>
